/*
Messages

No namespacing letter to conform with Drupal Messages API in message(.es6).js in
the core/drupal.message library.

.messages--status  - Status message type.
.messages--warning - Warning message type.
.messages--error   - Error message type.

Markup:
<div class="messages {{ modifier_class }}" >I am a message.</div>

Styleguide: Components.Messages
*/

@use 'sass:map';

.messages {
  $gutter_width: 1.5em;

  position: relative;
  padding: 0.5em 1em 0.5em ($gutter_width + 1em);
  background: #f5f5f5;
  color: #000;

  $variants: (
    status:  (color: #2ecc71, icon: '\2713'),
    warning: (color: #f1c40f, icon: '!'),
    error:   (color: #e74c3c, icon: '\2717'),
  );
  @each $name, $data in $variants {
    &--#{$name} {
      border-color: map.get($data, color);

      &::before {
        background-color: map.get($data, color);
        content: map.get($data, icon);
        color: #fff;
      }
    }
  }

  & + & {
    margin-top: 1em;
  }

  // Icon.
  &::before {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: $gutter_width;
    font-weight: 700;
    text-align: center;
  }

  a {
    background: linear-gradient(0deg, currentColor, currentColor) no-repeat right bottom / 100% 1px;

    &:active {
      color: currentColor;
    }
  }
}
