/**
 * @file
 * Drupal status messages.
 */

@import '../system';
@import '../../../node_modules/izitoast/dist/css/iziToast.min';

.iziToast {
  border-radius: 0;
  font: inherit;

  // Remove drop-shadow.
  &::after {
    content: none;
  }
}

// Message body text.
.iziToast-texts {
  max-height: 20vh;
  max-width: 60vw;
  overflow: auto;
}

.iziToast-message[class][class] {
  @include font-size(16);
  color: #000;

  a {
    color: inherit;
    box-shadow: 0 2px darkblue;

    &:focus {
      box-shadow: 0 4px darkblue;
    }
  }
}

// Position message-type icon to top corner instead of middle.
.iziToast-icon[class][class] {
  top: 18px;
}

// Position close icon to top corner instead of middle.
.iziToast-close[class] {
  top: 18px;
  height: 20px;
}

// No-js fallback styling
.c-messages {
  position: relative;
  border: 2px solid;

  // Icon.
  &::before {
    $size: 1.5em;

    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: ($size * -0.5);
    left: ($size * -0.5);
    width: $size;
    height: $size;
    font-weight: 700;
    text-align: center;
  }

  $variants: (
    status: (
      color: #2ecc71,
      icon: '\2713',
    ),
    warning: (
      color: #f1c40f,
      icon: '!',
    ),
    error: (
      color: #e74c3c,
      icon: '\2717',
    ),
  );
  @each $name, $data in $variants {
    &--#{$name} {
      border-color: map-get($data, color);
      padding: 1em;

      &::before {
        background-color: map-get($data, color);
        content: map-get($data, icon);
        color: if($name == warning, #333, #fff);
      }
    }
  }
}
