/**
 * @file
 * Frontend router.
 */

@import '../system';

// Loader mask
.c-router-loader {
  $transition-duration: 350ms;
  $logo-delay-factor: 2.25;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 600;
  width: 100%;
  height: 100%;
  overflow: hidden;
  visibility: hidden;
  transition: visibility $transition-duration 0s;

  &.is-entering {
    visibility: visible;
  }

  &.is-leaving {
    transition-duration: 0s;
    transition-delay: $transition-duration;
    visibility: hidden;
  }

  &__inner {
    &,
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    z-index: 1;
    background-color: limegreen;
    transform: translateY(-100%);
    transition: transform $transition-duration get-easing(out-cubic);

    &::before {
      z-index: 2;
      background-color: yellow;
      transform: translateY(-100%);
      transition: inherit;
      content: '';
    }

    .is-entering & {
      &,
      &::before {
        transform: translateY(0);
      }
    }

    .is-leaving & {
      transition-timing-function: get-easing(in-cubic);
      transform: translateY(100%);

      &::before {
        transform: translateY(100%);
      }
    }
  }

  &__logo {
    $orbit-diameter: 150px;
    $orbit-compensate: translate(-50%, calc(-50% - #{$orbit-diameter - 15px}));

    z-index: 3;
    transform: translate(-50%, -50%);

    &,
    &::after,
    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
    }

    &::after,
    &::before {
      z-index: -1;
      border-radius: 9999px;
      background-color: #fff;
      width: 15px;
      height: 15px;
      opacity: 0;
      transform: $orbit-compensate;
      content: '';
    }

    // 1. Hide until logo appears.
    // 2. Generous animation delay to give some loading time.
    .is-entering & {
      // logo-image delay + logo-image transition duration
      $appear-delay: (($logo-delay-factor + 1) * $transition-duration);
      $anim-dur: 1.5s;

      &::after,
      &::before {
        opacity: 1; // 1
        transition: opacity 0.5s $appear-delay; // 1
        animation: orbit $anim-dur $appear-delay infinite linear; // 2
        transform-origin: center $orbit-diameter;

        @keyframes orbit {
          from {
            transform: $orbit-compensate rotateZ(0);
          }
          to {
            transform: $orbit-compensate rotateZ(360deg);
          }
        }
      }
      &::before {
        animation-delay: $appear-delay - ($anim-dur / 2);
      }
    }
  }

  &__logo-glyph {
    .is-entering &,
    .is-leaving & {
      transition: transform $transition-duration, opacity $transition-duration;
    }

    &,
    .is-leaving & {
      transform: scale(0.9);
      opacity: 0;
    }

    .is-entering & {
      // Delay for panels to transition or if page loads fast.
      transition-delay: ($transition-duration * $logo-delay-factor);
      transform: scale(1);
      opacity: 1;
    }
  }
}
