/**
 * @file
 * CMS WYSIWYG-entered text.
 */

@import '../system';

.c-text-body {
  $line-height: 1.5;
  $block-spacing: $FONT-SIZE * $line-height * 1px;
  
  line-height: $line-height;

  // Clearfix
  &::after {
    display: table;
    clear: both;
    content: '';
  }

  * + * {
    margin-top: $block-spacing;
  }

  ul,
  ol {
    padding-left: 3ch;
  }

  ul {
    list-style-type: disc;
  }

  ol {
      list-style-type: decimal;
  }

  li,
  br {
    margin-top: 0;
  }

  // Sizes for each header tags, 2–6
  $heading-sizes: (
    2: 30,
    3: 24,
    4: 18,
    5: 16,
    6: 16
  );
  @each $level, $size in $heading-sizes {
    h#{$level} {
      @include font-size($size);
    }
  }

  img {
    display: inline-block;
    margin-top: 0;
  }

  a {
    border-bottom: 2px solid transparent;
    transition-property: color, border-bottom-color;
    color: blue;

    &:hover {
      color: blue;
      border-bottom-color: currentColor;
    }

    &:active {
      color: red;
    }
  }


  // WYSIWYG alignment classes
  .align-left,
  .align-right,
  .align-center {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .align-left,
  .align-right {
    @include viewport-scale(margin-right, 20px, 5px);
    @include viewport-scale(margin-left, 20px, 5px);
  }
}
