/**
 * @file
 * Base form elements.
 */

@import '../system';

label,
legend {
  @include text-crop;
  display: table;
}

label {
  cursor: pointer;
}

input,
textarea,
select {
  border: 2px solid $form-color-default;
  background-color: transparent;
  font: inherit;
  @include font-size($form-font-size);
  line-height: $form-line-height;
  color: inherit;
  -webkit-appearance: none;
  appearance: none;
  transition: border-color 250ms, box-shadow 250ms;

  &:focus {
    outline: 0;
    border-color: $form-color-active;
    box-shadow: 0 0 3px $form-color-active;
  }
}

input,
select,
textarea {
  padding: 0 ($form-height-rem * 0.333);
  max-width: 100%;
}

input,
select,
[type="submit"] {
  height: $form-height-rem;
}

textarea {
  display: block;
  padding-top: $form-padding;
  padding-bottom: $form-padding;
  resize: vertical;
  // Remove the default vertical scrollbar in IE 10+.
  overflow: auto;
}

select {
  cursor: pointer;

  // Hide system drop-down arrow in IE.
  &::-ms-expand {
    display: none;
  }

  &[size] {
    overflow: auto;
    resize: vertical;
  }
}

[type="radio"],
[type="checkbox"] {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;

  + label {
    // Remove text cropping.
    &::before {
      content: none;
    }

    &::after {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      vertical-align: middle;
      margin: 0 0 0 1ch;
      border-radius: $form-height-rem / 2;
      border: 1px solid $form-color-default;
      width: $form-height-rem;
      height: $form-height-rem;
      font-size: 1.5em;
      line-height: 1;
      color: transparent;
      content: '✔';
    }
  }

  &:checked + label::after {
    color: inherit;
  }

  &:focus + label::after {
    border-color: $form-color-active;
    box-shadow: 0 0 3px $form-color-active;
  }
}

[type="radio"] {
  & + label::after {
    background-image: radial-gradient(circle, transparent 40%, transparent 42%);
    content: '';
  }

  // Needed for Chrome bug were currentColor does not update in gradients.
  &:checked + label::after {
    background-image: radial-gradient(circle, currentColor 40%, transparent 42%);
  }
}

::placeholder {
  opacity: 1;
  color: inherit;
}
// Edge
::-webkit-input-placeholder {
  opacity: 1;
  color: inherit;
}

button {
  margin: 0;
  border: 0;
  padding: 0;
  background-color: transparent;
  color: inherit;
  font: inherit;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input:disabled,
textarea:disabled,
select:disabled,
button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

// For submit-type `input` form elements
[type="submit"] {
  @include font-size(24);
  border-color: $form-color-active;
  background-color: $form-color-active;
  color: #fff;
  cursor: pointer;
  transition: color 250ms, background-color 250ms, transform 250ms;

  &:hover,
  &:focus {
    background-color: transparent;
    color: $form-color-active;
  }

  &:active {
    transform: scale(0.98);
    transition-duration: 101ms;
  }
}

fieldset {
  margin: 0;
  border: 0;
  padding: 0;
}
