/**
 * @file
 * Base form elements.
 */

@import '../system';

$form-color-default: #999;
$form-color-active: salmon;
$form-font-size: 18;
$form-height: 45;
$form-height-rem: $form-height * 1rem / 16;
$form-line-height: 1.2;
$form-padding: ($form-height - ($form-font-size * 1px * $form-line-height)) / 2;

:root {
  --form-inactive-colour: #{$form-color-default};
  --form-active-colour: #{$form-color-active};
}

label,
legend {
  font-weight: 700;
  cursor: pointer;
}

input,
textarea,
select {
  transition: border-color 250ms, box-shadow 250ms;
  border: 1px solid $form-color-default;
  border-color: var(--form-inactive-colour);
  background-color: transparent;
  font: inherit;
  line-height: $form-line-height;
  color: inherit;
  @include font-size($form-font-size);
  -webkit-appearance: none;
  appearance: none;

  &:focus {
    outline: 0;
    border-color: $form-color-active;
    border-color: var(--form-active-colour);
    box-shadow: 0 0 0 1px $form-color-active;
    box-shadow: 0 0 0 1px var(--form-active-colour);
  }
}

input,
select,
textarea {
  padding: 0 ($form-height-rem * 0.667);
}

input,
select,
[type="submit"] {
  height: $form-height-rem;
}

input,
select,
[type="submit"] {
  height: ($form-height * 1em / $form-font-size);
}

textarea {
  padding-top: $form-padding;
  padding-bottom: $form-padding;
  resize: vertical;
  // Remove the default vertical scrollbar in IE 10+.
  overflow: auto;
}

select {
  cursor: pointer;

  &[size] {
    overflow: auto;
    resize: vertical;
  }
}

::placeholder {
  opacity: 1;
  color: inherit;
}

button {
  margin: 0;
  border: 0;
  padding: 0;
  background-color: transparent;
  color: inherit;
  font: inherit;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input:disabled,
textarea:disabled,
select:disabled,
button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

// For submit-type `input` form elements
[type="submit"],
[type="button"] {
  border: 1px solid $form-color-active;
  border-color: var(--form-active-colour);
  padding:
    ($form-padding * 0.9)
    $form-padding
    ($form-padding * 1.1);
  background-color: $form-color-active;
  background-color: var(--form-active-colour);
  color: #fff;
  cursor: pointer;
  transition: color 250ms, background-color 250ms, transform 250ms;

  &:hover,
  &:focus {
    background-color: transparent;
    color: $form-color-active;
    color: var(--form-active-colour);
  }

  &:active {
    transform: scale(0.95);
    transition-duration: 101ms;
  }
}


fieldset {
  margin: 0;
  border: 0;
  padding: 0;
}
