/**
 * @file
 * Base miscellaneous elements, not in any group.
 */

body {
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #fff;
}

// Change default box-sizing
*,
::before,
::after {
  box-sizing: border-box;
}

// Add the correct vertical alignment in Chrome, Firefox, and Opera
progress {
  vertical-align: baseline;
}

// Add the correct display value in IE11
template {
  display: none;
}

// Add the correct display value in Edge, IE11, and Firefox
details,
main,
summary {
  display: block;
}
