/**
 * @file
 * Base miscellaneous elements, not in any group.
 */

body {
  margin: 0;
  background-color: #fff;
}

// Change default box-sizing
*,
::before,
::after {
  box-sizing: border-box;
}

// Add the correct display value in IE11
template {
  display: none;
}

// Render the main element consistently in IE.
main {
  display: block;
}

// Fixes bug in Chrome whereby the element can still take up space.
.visually-hidden {
  margin-left: -1px;
  margin-top: -1px;
}
