/**
 * @file
 * Base miscellaneous elements, not in any group.
 */

@use '../lib/layout';
@use '../lib/viewport';

body {
  margin: 0;
  background-color: #fff;
  --site-gutter: #{layout.$GUTTER_FALLBACK_PX};

  @supports (top: min(0%, 1%)) {
    --site-gutter: #{viewport.scale(layout.$GUTTER_MAX_PX, layout.$GUTTER_MIN_PX)};
  }
}

// Change default box-sizing
*,
::before,
::after {
  box-sizing: border-box;
}

// Add the correct display value in IE11
template {
  display: none;
}

// Render the main element consistently in IE.
main {
  display: block;
}

// 1. Fixes bug in Chrome whereby the element can still take up space.
.visually-hidden {
  margin-left: -1px; // 1
  margin-top: -1px; // 1

  // Improve visually hidden focusables.
  &.focusable {
    background-color: #000;
    color: #fff;
    padding: 0 1ch;
    z-index: 999;

    &[class]:active,
    &[class]:focus {
      position: absolute !important;
    }
  }
}
