////
//// Base typography.
////

@use '../lib/font';

html {
  // Prevent adjustments of font size after orientation changes in iOS.
  -webkit-text-size-adjust: 100%;
}

body {
  @include font.size-custom-properties;
  @include font.size(font.$SIZE);
  color: #333;
  font-family: font.$SYSTEM;
  line-height: font.$LINE-HEIGHT;
}
*,
::before,
::after {
  letter-spacing: 0.025em;
}

::selection {
  background-color: #999;
  color: #fff;
}

a {
  text-decoration: none;
  color: dodgerblue;

  &:focus {
    outline-color: currentColor;
  }

  &:hover,
  &:active {
    // Remove focus outline on hover and active mouse states
    outline: 0;
  }
}

// Remove focus outline on main content link anchor due to Firefox rendering an
// outline when focused via the JavaScript router.
#main-content:focus {
  outline: 0;
}

* {
  margin: 0;
}

ol,
ul {
  padding: 0;
  list-style: none;
}

hr {
  border: 0;
  border-top: 1px solid #e1e1e1;
}

// Set font weight for emboldening tags
b,
strong {
  font-weight: bolder;
}

// Prevent `sub` and `sup` elements from affecting line height
sub,
sup {
  position: relative;
  vertical-align: baseline;
  line-height: 0;
  font-size: 75%;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
}

address {
  font-style: inherit;
}
