{
  "presets": [
    [
      "env", {
        "loose": true,
        "modules": false,
        "targets": {
          "browsers": [
            "last 2 versions",
            "not ie < 11"
          ]
        }
      }
    ]
  ],
  "plugins": [
    "lodash",
    "syntax-dynamic-import",
    [
      "transform-react-jsx",
      {
        "pragma": "h"
      }
    ]
  ]
}
