/**
 * @file
 * Functions and mixins related to fonts.
 */

@import 'unit';

// List of font sizes that will have scalable custom properties
$FONT-SIZE-PRESETS: (
  72,
  60,
  48,
  40,
  36,
  30,
  24,
  18,
  16,
);

// Minimum size for font size to be considered scalable
$FONT-SIZE-SCALE-MINIMUM: 12px;

// Default font size
$FONT-SIZE: 16;

// Global default line height ratio
$LINE-HEIGHT: (24 / $FONT-SIZE);

/**
 * Outputs font size using fall-back and variables.
 *
 * @param {number} $size
 *   The unitless font size in pixels.
 */
@mixin font-size($size) {
  $rem-size: px-to-rem($size * 1px);

  // Too small to scale
  @if $size <= $FONT-SIZE-SCALE-MINIMUM {
    font-size: $rem-size;
  }
  // Defined in :root as CSS custom properties
  @else if index($FONT-SIZE-PRESETS, $size) {
    font-size: $rem-size;
    font-size: var(--font-size-#{$size});
  }
  @else {
    @include viewport-scale(font-size, $rem-size, font-scale-minimum($size));
  }
}

/**
 * Outputs custom properties for font size presets.
 *
 * @param {bool} [$editor-stylesheet=false]
 *   Optional. Indicates whether the mixin is in the context of a WYSIWYG
 *   editor. Default false.
 *
 */
@mixin font-size-custom-properties($editor-stylesheet: false) {
  @each $size in $FONT-SIZE-PRESETS {
    $rem-size: px-to-rem($size * 1px);

    @if $size > $FONT-SIZE-SCALE-MINIMUM {
      @if ($editor-stylesheet) {
        // No scaling for WYSIWYG editors
        --font-size-#{$size}: #{$rem-size};
      } @else {
        @include viewport-scale(--font-size-#{$size}, $rem-size, font-scale-minimum($size));
      }
    }
  }
}

/**
 * Returns the minimum value to use for font scales.
 *
 * @param {number} $size
 *   The unitless font size in pixels.
 * @return {number}
 *   The minimum size for the given font size with rem units.
 */
@function font-scale-minimum($size) {
  @return px-to-rem(
    between(
      floor(($size + ($FONT-SIZE-SCALE-MINIMUM * 16))/ 14),
      $FONT-SIZE-SCALE-MINIMUM,
      $size * 1px
    )
  );
}

/**
 * Crops a box-model to cap height and baseline of a supported font family.
 */
@mixin text-crop($font-family: '', $line-height: 1.3, $top-adjustment: 0px, $bottom-adjustment: 0px) {
  $top-crop: 0;
  $bottom-crop: 0;
  $crop-font-size: 24;
  $crop-line-height: 1.5;

  // Apply values to calculate em-based margins that work with any font size
  $dynamic-top-crop: max(($top-crop + ($line-height - $crop-line-height) * ($crop-font-size / 2)), 0) / $crop-font-size;
  $dynamic-bottom-crop: max(($bottom-crop + ($line-height - $crop-line-height) * ($crop-font-size / 2)), 0) / $crop-font-size;

  // Mixin output
  line-height: $line-height;

  &::before,
  &::after {
    content: '';
    display: block;
    height: 0;
    width: 0;
  }

  &::before {
    margin-bottom: calc(-#{$dynamic-top-crop}em + #{$top-adjustment});
  }

  &::after {
    margin-top: calc(-#{$dynamic-bottom-crop}em + #{$bottom-adjustment});
  }
}