/**
 * @file
 * Variables for forms.
 */

@import 'colors';

$form-color-default: grey;
$form-color-active: orange;
$form-font-size: 18;
$form-height: 55;
$form-height-rem: $form-height * 1rem / 16;
$form-line-height: 1.2;
$form-padding: ($form-height - ($form-font-size * 1px * $form-line-height)) / 2;
