{#
/**
 * @file
 * Theme override for a link to a file.
 *
 * Available variables:
 * - attributes: The HTML attributes for the containing element.
 * - description: The title text of the link.
 * - link: A link to the file.
 *
 * @see {{ NAME }}_preprocess_file_link()
 */
#}
<a{{ attributes }}>{{ description }}</a>
