{#
/**
 * @file
 * Theme override to display the main menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 * - attributes: HTML attributes for the top level menu list.
 * - drawer_attributes: HTML attributes for the drawer_wrapper.
 * - attributes_map: A list of attributes for sub menus:
 *   - sub: HTML attributes for second-level menus.
 *   - deep: HTML attributes for the third-level and deeper menus.
 *
 * @see moorvision_preprocess_menu()
 * @see moorvision_preprocess_menu__main()
 */
#}
{% import 'menu.html.twig' as menus %}

{% spaceless %}
<div class="js-main-menu c-main-menu is-menu-loading">
  {#
    We call a macro which calls itself to render the full tree.
    @see http://twig.sensiolabs.org/doc/tags/macro.html
  #}
  {{ menus.menu_links(items, attributes, 0, attributes_map) }}
  <div{{ drawer_attributes }}>
    <button class="c-main-menu__open-btn">{{ 'Full menu'|t }}</button>
  </div>
</div>
<noscript>
<style>
.c-main-menu.is-compact{visibility:visible!important}
.c-main-menu__top-menu,.c-main-menu__top-menu>li{overflow:visible!important}
.c-main-menu__drawer{display:none!important}
</style>
</noscript>
{% endspaceless %}
