{#
/**
 * @file
 * Theme override to display the Header region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - content_attributes: HTML attributes for the region div.
 * - attributes: HTML attributes for the region wrapper header tag.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 * @see {{ NAME }}_preprocess_region()
 */
#}
{% if content %}
  <header{{ attributes.setAttribute('role', 'banner') }}>
    <div{{ content_attributes }}>
      {{ content }}
    </div>
  </header>
{% endif %}
