{#
/**
 * @file
 * Theme override to display the Content region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region wrapper main tag.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 * @see {{ NAME }}_preprocess_region()
 */
#}
{% if content %}
  <main{{ attributes.setAttribute('role', 'main') }}>
    {# link is in html.html.twig #}
    <a id="main-content" tabindex="-1"></a>
    {{ content }}
  </main>
{% endif %}
