/**
 * @file
 * Site width container.
 *
 * Lots of Edge-only hacks due to it not being able to properly parse CSS
 * variables with nested calc()s.
 */

@use '../lib/hacks';
@use '../lib/layout';
@use '../lib/viewport';

$fallback-gutter: 20px;

// Site width container.
//
// 1. Add additional gutter width either side to compensate for padding.
.l-container {
  margin-right: auto;
  margin-left: auto;
  padding: ($fallback-gutter / 2) $fallback-gutter;
  padding: calc(var(--container-space-y) / 2) var(--container-space-x);
  max-width: (layout.$SITE-WIDTH-PX + ($fallback-gutter * 2)); // 1
  max-width: calc(#{layout.$SITE-WIDTH-PX} + (var(--container-space-x) * 2)); // 1
  --container-space-y: 40px;
  --container-space-x: 20px;

  @supports (top: clamp(0%, 1%, 2%)) {
    --container-space-x: viewport.scale(40px, 20px);
  }

  &__module {
    padding-top: ($fallback-gutter / 2);
    padding-bottom: ($fallback-gutter / 2);
    padding-top: calc(var(--container-space-y) / 2);
    padding-bottom: calc(var(--container-space-y) / 2);
  }
}
