////
//// Site width container.
////

@use '../lib/layout';
@use '../lib/viewport';

$_fallback_gutter_y: 40px;

// Site width container.
//
// 1. Add additional gutter width either side to compensate for padding.
.l-container {
  margin-right: auto;
  margin-left: auto;
  padding: ($_fallback_gutter_y / 2) layout.$GUTTER_FALLBACK_PX;
  padding: calc(var(--container-space-y) / 2) var(--container-space-x);
  max-width: (layout.$SITE-WIDTH-PX + (layout.$GUTTER_FALLBACK_PX * 2)); // 1
  max-width: calc(#{layout.$SITE-WIDTH-PX} + (var(--container-space-x) * 2)); // 1
  --container-space-y: 40px;
  --container-space-x: 20px;

  @supports (top: min(0%, 1%)) {
    --container-space-x: #{viewport.scale(40px, 20px)};
  }

  &__module {
    padding-top: ($_fallback_gutter_y / 2);
    padding-bottom: ($_fallback_gutter_y / 2);
    padding-top: calc(var(--container-space-y) / 2);
    padding-bottom: calc(var(--container-space-y) / 2);
  }
}
