////
//// Generic layout using flexbox.
////

.l-flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  // 1. Ensures item will always stay within parent width.
  // 2. Set to 1px to work-around IE11 bug whereby nested flex items do not
  //    wrap.
  &__item {
    min-width: 1px; // 1, 2
  }
}
