/**
 * @file
 * Display items in a row.
 */

@import '../system';

.l-row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  // 1. Ensures item will always stay within parent width.
  &__item {
    min-width: 0; // 1
  }
}
