/**
 * @file
 * Display items in a row.
 */

@import '../system';

.l-row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  &--no-wrap {
    @media (min-width: 800px) {
      flex-wrap: nowrap;

      > .l-row__item {
        flex-shrink: 1;
      }
    }
  }

  &__item {
    max-width: 100%;
    flex-grow: 0;

    &--end {
      margin-left: auto;
    }

    &--flex-end {
      align-self: flex-end;
    }
  }
}
